:host {
  display: block;
  height: 40px;
  cursor: pointer;
}

.movie-item-list {
  padding: 12px 15px;
  white-space: nowrap;
  overflow:hidden !important;
  text-overflow: ellipsis;
  background: white;
  height: 100%;
}

.movie-item-list.odd {
  background: #eee;
}

.movie-item-list:hover {
  background: #8eb1c7;
  color: white;
}

.movie-item-list.selected {
  background: #0e2e33;
  color: white;
}